extends layout

block content
  h1 mongoMemo
  br
  p database
  p mongodb 192.168.10.132:27017
  p db:simpleMemo(bs4)
  p collection:test
  p page: ./simpleBs4
  form(action='./simpleBs4')
    input(type='submit' value='simple Memo bs4')
  br
  p db:myMemo
  p collection:test
  p page: ./hqtest3
  form(action='./hqtest3')
    input(type='submit' value='simple Memo')
  br 
  p db:myMemo
  p collection:pgmemo
  p page: ./pgmemo
  form(action='./pgmemo')
    input(type='submit' value='program Memo')  