mixin colorx(index)
  .card.text-white(class!='bg-'+attributes.class)
    .card-body
      //text-area.card-title Nanka Title
      resize-textarea.card-text.form-control.text-white(class!='bg-'+attributes.class placeholder='panel-'+index ng-model='panela['+index+'].text' ng-change='textChange('+index+',"a")' ng-click='textChange('+index+',"a")')= '{{panela['+index+'].text}}'
      //p.card-text honyahonya
    .card-footer 
      span.straight last update&nbsp;
      span.straight= '{{panela['+index+'].datetime}}'
  .card(class='border-'+attributes.class)
    .card-body
      //text-area.card-title Nanka Title
      //text-area.card-text(rows='5') nanrakano text list
      resize-textarea.card-text.form-control(placeholder='panel-'+index ng-model='panelb['+index+'].text' ng-change='textChange('+index+',"b")' ng-click='textChange('+index+',"b")')= '{{panelb['+index+'].text}}}'
      //p.card-text hony
    .card-footer.text-gray
      span.straight last update&npsp;
      span.straight= '{{panelb['+index+'].datetime}}'
mixin cards(...colors)
  each color, index in colors
    +colorx(index)(class=color)
  //-for(var i = 0; i<colors.length; i++)
  //  +colorx(i)(class=colors[i])


+cards('primary','secondary','success','danger','warning','info','light','dark')
