div(ng-repeat='pgmemo in pgmemos')
  div
    span {{pgmemo.title}}
  span.badge.badge-pill.badge-success(ng-repeat='type in pgmemo.type') {{type}}  
  span.badge.badge-pill.badge-primary(ng-repeat='platform in pgmemo.platform') {{platform}}
  div
    span {{pgmemo.text}}
  //span {{pgmemo._id}}
  span.oi.oi-aperture(title='aperture' aria-hidden='true' ng-click='pgHen(pgmemo)')
  span.oi.oi-trash(title='trash' aria-hidden='true' ng-click='pgDelete(pgmemo._id)' style='padding-left:5px;')
  hr