* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
#datain { background: #000; padding: 3px; width: 100%; }
#datain input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
//#datain button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
textarea {width:100%;}
#message_list .panel {margin-bottom:0px;}
.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
#nextbtnbox{
	//margin:auto;
  text-align:center;
}
#nextbtn{
	//margin:auto;
  float:right;
}
