doctype html
html(ng-app='panelApp')
  head
    meta(charset='utf-8')
    meta(name='veiwport' content='width=device-width initial-scale=1')
    title angular_template
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css')
    link(rel='stylesheet' href='./stylesheets/panel.css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js')
    script(src='./javascripts/panel.js')  
    script(src='./javascripts/services.js')   
  body
    .container-fluid(ng-controller='panelCont')
      h1 cards panel
      .card-columns
        include panel_cards







